body{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    border: 0;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul > li{
    display: inline;
    margin: 0 20px;
}

a{
    text-decoration: none;
}

a:visited{
    color:black;
}

a:hover{
    cursor: pointer;
}

a:focus{
    color: orange;
}

main{
    display: flex;
    justify-content: center;
    text-align: center;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1050px;
}

footer{
    text-align: center;
}